MoveWindow IDM_PARAM_WINDOW 3898 1705 316 283
ShowWindow IDM_PARAM_WINDOW SW_SHOWNORMAL
MoveWindow IDM_CONS_WINDOW 25 25 922 517
ShowWindow IDM_CONS_WINDOW SW_SHOWNORMAL
MoveWindow IDM_CRSR_WINDOW 3914 1416 301 201
ShowWindow IDM_CRSR_WINDOW SW_SHOWNORMAL
MoveWindow IDM_APPL_WINDOW 4249 1094 1744 1005
ShowWindow IDM_APPL_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MINI_WINDOW 6006 1116 301 301
ShowWindow IDM_MINI_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MAIN_WINDOW 4257 1145 1728 924
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
MoveWindow IDM_PERF_WINDOW 3903 1113 301 251
ShowWindow IDM_PERF_WINDOW SW_SHOWNORMAL
