MoveWindow IDM_PARAM_WINDOW 2201 584 316 283
ShowWindow IDM_PARAM_WINDOW SW_SHOWNORMAL
MoveWindow IDM_CONS_WINDOW 201 201 922 517
ShowWindow IDM_CONS_WINDOW SW_SHOWNORMAL
MoveWindow IDM_CRSR_WINDOW 2208 355 301 201
ShowWindow IDM_CRSR_WINDOW SW_SHOWNORMAL
MoveWindow IDM_APPL_WINDOW 2509 16 1560 1085
ShowWindow IDM_APPL_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MINI_WINDOW 4083 127 301 301
ShowWindow IDM_MINI_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MAIN_WINDOW 2517 67 1544 1004
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
MoveWindow IDM_PERF_WINDOW 2207 77 301 251
ShowWindow IDM_PERF_WINDOW SW_SHOWNORMAL
