MoveWindow IDM_PARAM_WINDOW 3856 1144 316 283
ShowWindow IDM_PARAM_WINDOW SW_SHOWNORMAL
MoveWindow IDM_CONS_WINDOW -1015 1362 922 517
ShowWindow IDM_CONS_WINDOW SW_SHOWNORMAL
MoveWindow IDM_CRSR_WINDOW 3862 1455 301 201
ShowWindow IDM_CRSR_WINDOW SW_SHOWNORMAL
MoveWindow IDM_APPL_WINDOW -8 -8 2210 1210
ShowWindow IDM_APPL_WINDOW SW_MAXIMIZE
MoveWindow IDM_MAIN_WINDOW 0 43 2194 1129
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
MoveWindow IDM_PERF_WINDOW 3867 1707 301 161
ShowWindow IDM_PERF_WINDOW SW_SHOWNORMAL
