MoveWindow IDM_PARAM_WINDOW 3842 521 316 283
ShowWindow IDM_PARAM_WINDOW SW_SHOWNORMAL
MoveWindow IDM_CONS_WINDOW 25 25 922 517
ShowWindow IDM_CONS_WINDOW SW_SHOWNORMAL
MoveWindow IDM_CRSR_WINDOW 3856 310 301 201
ShowWindow IDM_CRSR_WINDOW SW_SHOWNORMAL
MoveWindow IDM_APPL_WINDOW 4056 115 1646 1007
ShowWindow IDM_APPL_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MINI_WINDOW 0 33 2134 1139
ShowWindow IDM_MINI_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MAIN_WINDOW 4064 166 1630 926
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
MoveWindow IDM_PERF_WINDOW 3858 35 301 251
ShowWindow IDM_PERF_WINDOW SW_SHOWNORMAL
