MoveWindow IDM_APPL_WINDOW 156 156 1647 857
MoveWindow IDM_MAIN_WINDOW 164 207 1632 777
MoveWindow IDM_MINI_WINDOW 0 0 301 301
MoveWindow IDM_MONITOR_WINDOW 200 0 137 201
MoveWindow IDM_CRSR_WINDOW 0 300 301 226
MoveWindow IDM_PARAM_WINDOW 164 207 281 555
MoveWindow IDM_PERF_WINDOW 0 0 301 351
MoveWindow IDM_DESC_WINDOW 0 0 301 301
MoveWindow IDM_SIG_DESIGNER 100 100 501 401
MoveWindow IDM_LUT_DESIGNER 200 200 301 201
ShowWindow IDM_APPL_WINDOW SW_SHOWNORMAL
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
ShowWindow IDM_MINI_WINDOW SW_SHOWNORMAL
ShowWindow IDM_MONITOR_WINDOW SW_HIDE
ShowWindow IDM_CRSR_WINDOW SW_SHOWNORMAL
ShowWindow IDM_PARAM_WINDOW SW_SHOWNORMAL
ShowWindow IDM_PERF_WINDOW SW_SHOWNORMAL
ShowWindow IDM_DESC_WINDOW SW_SHOWNORMAL
ShowWindow IDM_SIG_DESIGNER SW_SHOWNORMAL
ShowWindow IDM_LUT_DESIGNER SW_SHOWNORMAL
