MoveWindow IDM_APPL_WINDOW 3948 191 1701 911
MoveWindow IDM_MAIN_WINDOW 3957 244 1683 829
MoveWindow IDM_TOURNAMENT_WINDOW 3948 191 1701 911
ShowWindow IDM_APPL_WINDOW SW_SHOWNORMAL
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
ShowWindow IDM_TOURNAMENT_WINDOW SW_SHOWNORMAL
