MoveWindow IDM_APPL_WINDOW 445 147 1685 895
MoveWindow IDM_MAIN_WINDOW 454 200 1667 813
MoveWindow IDM_TOURNAMENT_WINDOW 445 147 1685 895
ShowWindow IDM_APPL_WINDOW SW_SHOWNORMAL
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
ShowWindow IDM_TOURNAMENT_WINDOW SW_SHOWNORMAL
