MoveWindow IDM_APPL_WINDOW 112 83 1687 897
MoveWindow IDM_MAIN_WINDOW 121 136 1669 815
MoveWindow IDM_TOURNAMENT_WINDOW 112 83 1687 897
ShowWindow IDM_APPL_WINDOW SW_SHOWNORMAL
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
ShowWindow IDM_TOURNAMENT_WINDOW SW_SHOWNORMAL
