MoveWindow IDM_HIST_WINDOW 0 988 1920 30
ShowWindow IDM_HIST_WINDOW SW_SHOW
MoveWindow IDM_MAIN_WINDOW 0 43 1920 945
ShowWindow IDM_MAIN_WINDOW SW_SHOW
MoveWindow IDM_APPL_WINDOW -8 -8 1936 1056
ShowWindow IDM_APPL_WINDOW SW_SHOW
MoveWindow IDM_DISP_WINDOW 1671 186 211 219
ShowWindow IDM_DISP_WINDOW SW_SHOW
MoveWindow IDM_EDIT_WINDOW 1661 410 211 559
ShowWindow IDM_EDIT_WINDOW SW_SHOW
MoveWindow IDM_CRSR_WINDOW 26 327 300 150
ShowWindow IDM_CRSR_WINDOW SW_SHOW
MoveWindow IDM_STAT_WINDOW 25 516 400 430
ShowWindow IDM_STAT_WINDOW SW_SHOW
MoveWindow IDM_PERF_WINDOW 23 133 300 150
ShowWindow IDM_PERF_WINDOW SW_SHOW
MoveWindow IDM_MINI_WINDOW 1671 33 216 139
ShowWindow IDM_MINI_WINDOW SW_SHOW
MoveWindow IDM_STATUS_BAR 0 1018 1920 22
ShowWindow IDM_STATUS_BAR SW_SHOW
