MoveWindow IDM_CONS_WINDOW -1158 1389 993 519
ShowWindow IDM_CONS_WINDOW SW_SHOWNORMAL
MoveWindow IDM_APPL_WINDOW 4268 1237 1271 719
ShowWindow IDM_APPL_WINDOW SW_SHOWNORMAL
MoveWindow IDM_HIST_INFO 0 300 301 116
ShowWindow IDM_HIST_INFO SW_HIDE
MoveWindow IDM_MAIN_WINDOW 4276 1288 1255 608
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
