MoveWindow IDM_CONS_WINDOW -1348 1453 912 517
ShowWindow IDM_CONS_WINDOW SW_SHOWNORMAL
MoveWindow IDM_APPL_WINDOW 3930 1172 1804 884
ShowWindow IDM_APPL_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MAIN_WINDOW 3938 1223 1788 803
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
