MoveWindow IDM_CONS_WINDOW -1633 477 1033 838
ShowWindow IDM_CONS_WINDOW SW_SHOWNORMAL
MoveWindow IDM_APPL_WINDOW 2906 375 1920 1021
ShowWindow IDM_APPL_WINDOW SW_SHOWNORMAL
MoveWindow IDM_CRSR_WINDOW 0 300 301 201
ShowWindow IDM_CRSR_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MAIN_WINDOW 2914 426 1904 940
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
