MoveWindow IDM_PARAM_WINDOW 2609 428 316 283
ShowWindow IDM_PARAM_WINDOW SW_SHOWNORMAL
MoveWindow IDM_CONS_WINDOW -1103 586 993 519
ShowWindow IDM_CONS_WINDOW SW_SHOWNORMAL
MoveWindow IDM_CRSR_WINDOW 2609 742 301 201
ShowWindow IDM_CRSR_WINDOW SW_SHOWNORMAL
MoveWindow IDM_APPL_WINDOW 2982 387 1691 939
ShowWindow IDM_APPL_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MAIN_WINDOW 2990 438 1675 858
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
MoveWindow IDM_PERF_WINDOW 2619 999 301 161
ShowWindow IDM_PERF_WINDOW SW_SHOWNORMAL
