MoveWindow IDM_PARAM_WINDOW 4185 468 316 283
ShowWindow IDM_PARAM_WINDOW SW_SHOWNORMAL
MoveWindow IDM_CONS_WINDOW -1633 477 1033 838
ShowWindow IDM_CONS_WINDOW SW_SHOWNORMAL
MoveWindow IDM_CRSR_WINDOW 4205 795 301 201
ShowWindow IDM_CRSR_WINDOW SW_SHOWNORMAL
MoveWindow IDM_APPL_WINDOW 2682 369 1920 1021
ShowWindow IDM_APPL_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MAIN_WINDOW 2690 420 1904 940
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
