//  NNetSimu.rc
//
//  NNetSimu

#include <windows.h>
#include <commctrl.h>
#include "Resource.h"

//
// Icon resources
//
IDI_NNETSIMU ICON "NNetSimu.ico"
IDI_SMALL    ICON "small.ico"

//
// Bitmap resources
//
UNDO_BITMAP BITMAP "icon-undo.ico"
REDO_BITMAP BITMAP "icon-redo.ico"

////
//// Sound resources
////
//DISAPPEAR_SOUND    WAVE "pop.wav"
//SNAP_IN_SOUND      WAVE "locking-a-door.wav"
//UNLOCK_SOUND       WAVE "door-unlocking.wav"
//SELECTION_SOUND    WAVE "tap.wav"
//NOT_POSSIBLE_SOUND WAVE "no.wav"
