MoveWindow IDM_PARAM_WINDOW 802 378 316 283
ShowWindow IDM_PARAM_WINDOW SW_SHOWNORMAL
MoveWindow IDM_CONS_WINDOW 26 26 993 519
ShowWindow IDM_CONS_WINDOW SW_SHOWNORMAL
MoveWindow IDM_CRSR_WINDOW 0 300 301 201
ShowWindow IDM_CRSR_WINDOW SW_SHOWNORMAL
MoveWindow IDM_APPL_WINDOW 60 80 1440 759
ShowWindow IDM_APPL_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MAIN_WINDOW 68 131 1424 678
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
MoveWindow IDM_PERF_WINDOW 0 0 301 161
ShowWindow IDM_PERF_WINDOW SW_SHOWNORMAL
