MoveWindow IDM_PARAM_WINDOW -305 1595 316 283
ShowWindow IDM_PARAM_WINDOW SW_SHOWNORMAL
MoveWindow IDM_CONS_WINDOW 75 75 922 517
ShowWindow IDM_CONS_WINDOW SW_SHOWNORMAL
MoveWindow IDM_CRSR_WINDOW -289 1381 301 201
ShowWindow IDM_CRSR_WINDOW SW_SHOWNORMAL
MoveWindow IDM_APPL_WINDOW -1865 1078 1587 1044
ShowWindow IDM_APPL_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MINI_WINDOW -291 1076 301 301
ShowWindow IDM_MINI_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MAIN_WINDOW -1857 1129 1571 963
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
MoveWindow IDM_PERF_WINDOW -297 1872 301 251
ShowWindow IDM_PERF_WINDOW SW_SHOWNORMAL
