MoveWindow IDM_APPL_WINDOW -1871 1117 1474 947
ShowWindow IDM_APPL_WINDOW SW_SHOWNORMAL
MoveWindow IDM_CRSR_WINDOW -304 1493 304 229
ShowWindow IDM_CRSR_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MINI_WINDOW -389 1106 392 392
ShowWindow IDM_MINI_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MAIN_WINDOW -1863 1169 1461 868
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
MoveWindow IDM_DESC_WINDOW -388 1719 392 392
ShowWindow IDM_DESC_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MONITOR_WINDOW 200 0 227 292
ShowWindow IDM_MONITOR_WINDOW SW_HIDE
MoveWindow IDM_PARAM_WINDOW -809 1447 283 383
ShowWindow IDM_PARAM_WINDOW SW_SHOWNORMAL
MoveWindow IDM_PERF_WINDOW -785 1158 304 284
ShowWindow IDM_PERF_WINDOW SW_HIDE
MoveWindow IDM_SIG_DESIGNER -1480 1141 595 866
ShowWindow IDM_SIG_DESIGNER SW_SHOWNORMAL
