MoveWindow IDM_APPL_WINDOW -1490 1091 1510 1056
ShowWindow IDM_APPL_WINDOW SW_SHOWNORMAL
MoveWindow IDM_DESC_WINDOW -657 1641 373 289
ShowWindow IDM_DESC_WINDOW SW_SHOWNORMAL
MoveWindow IDM_CRSR_WINDOW -292 1372 301 201
ShowWindow IDM_CRSR_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MINI_WINDOW -292 1108 299 271
ShowWindow IDM_MINI_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MAIN_WINDOW -1482 1143 1494 974
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MONITOR_WINDOW -1837 1462 682 288
ShowWindow IDM_MONITOR_WINDOW SW_SHOWNORMAL
MoveWindow IDM_PARAM_WINDOW -289 1567 316 283
ShowWindow IDM_PARAM_WINDOW SW_SHOWNORMAL
MoveWindow IDM_PERF_WINDOW -526 1478 301 281
ShowWindow IDM_PERF_WINDOW SW_SHOWNORMAL
