MoveWindow IDM_PARAM_WINDOW 3864 1740 316 283
ShowWindow IDM_PARAM_WINDOW SW_SHOWNORMAL
MoveWindow IDM_CONS_WINDOW -1176 1551 618 517
ShowWindow IDM_CONS_WINDOW SW_SHOWNORMAL
MoveWindow IDM_CRSR_WINDOW 3868 1529 301 201
ShowWindow IDM_CRSR_WINDOW SW_SHOWNORMAL
MoveWindow IDM_APPL_WINDOW 3832 1072 2576 1056
ShowWindow IDM_APPL_WINDOW SW_MAXIMIZE
MoveWindow IDM_MAIN_WINDOW 3840 1123 2560 975
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
MoveWindow IDM_PERF_WINDOW 3869 1366 301 161
ShowWindow IDM_PERF_WINDOW SW_SHOWNORMAL
