MoveWindow IDM_APPL_WINDOW 208 208 1648 858
MoveWindow IDM_MAIN_WINDOW 216 260 1633 777
MoveWindow IDM_MINI_WINDOW 0 0 302 302
MoveWindow IDM_MONITOR_WINDOW 200 0 138 202
MoveWindow IDM_CRSR_WINDOW 0 300 302 227
MoveWindow IDM_PARAM_WINDOW 216 260 282 572
MoveWindow IDM_PERF_WINDOW 0 0 302 282
MoveWindow IDM_DESC_WINDOW 0 0 302 302
MoveWindow IDM_SIG_DESIGNER 100 100 502 402
ShowWindow IDM_APPL_WINDOW SW_SHOWNORMAL
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
ShowWindow IDM_MINI_WINDOW SW_SHOWNORMAL
ShowWindow IDM_MONITOR_WINDOW SW_HIDE
ShowWindow IDM_CRSR_WINDOW SW_SHOWNORMAL
ShowWindow IDM_PARAM_WINDOW SW_SHOWNORMAL
ShowWindow IDM_PERF_WINDOW SW_SHOWNORMAL
ShowWindow IDM_DESC_WINDOW SW_SHOWNORMAL
ShowWindow IDM_SIG_DESIGNER SW_SHOWNORMAL
