MoveWindow IDM_CONS_WINDOW 226 226 922 517
ShowWindow IDM_CONS_WINDOW SW_SHOWNORMAL
MoveWindow IDM_CRSR_WINDOW -314 1916 301 201
ShowWindow IDM_CRSR_WINDOW SW_SHOWNORMAL
MoveWindow IDM_APPL_WINDOW -1892 1308 1320 797
ShowWindow IDM_APPL_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MONITOR_WINDOW -1017 1604 918 496
ShowWindow IDM_MONITOR_WINDOW SW_SHOWNORMAL
MoveWindow IDM_DESC_WINDOW -325 1389 301 301
ShowWindow IDM_DESC_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MINI_WINDOW -638 1086 301 208
ShowWindow IDM_MINI_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MAIN_WINDOW -1884 1360 1304 715
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
MoveWindow IDM_PARAM_WINDOW -336 1092 316 283
ShowWindow IDM_PARAM_WINDOW SW_SHOWNORMAL
MoveWindow IDM_PERF_WINDOW -319 1708 301 251
ShowWindow IDM_PERF_WINDOW SW_SHOWNORMAL
