MoveWindow IDM_APPL_WINDOW -5668 1218 1646 856
ShowWindow IDM_APPL_WINDOW SW_SHOWNORMAL
MoveWindow IDM_CRSR_WINDOW 0 300 301 226
ShowWindow IDM_CRSR_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MINI_WINDOW 0 0 301 301
ShowWindow IDM_MINI_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MAIN_WINDOW -5660 1270 1630 774
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
MoveWindow IDM_DESC_WINDOW 0 0 301 301
ShowWindow IDM_DESC_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MONITOR_WINDOW 200 0 136 201
ShowWindow IDM_MONITOR_WINDOW SW_HIDE
MoveWindow IDM_PARAM_WINDOW 939 451 316 283
ShowWindow IDM_PARAM_WINDOW SW_SHOWNORMAL
MoveWindow IDM_PERF_WINDOW 0 0 301 281
ShowWindow IDM_PERF_WINDOW SW_SHOWNORMAL
MoveWindow IDM_SIG_DESIGNER 100 100 501 401
ShowWindow IDM_SIG_DESIGNER SW_SHOWNORMAL
