MoveWindow IDM_CRSR_WINDOW -292 1372 301 201
ShowWindow IDM_CRSR_WINDOW SW_SHOWNORMAL
MoveWindow IDM_APPL_WINDOW -1929 1080 1646 1047
ShowWindow IDM_APPL_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MONITOR_WINDOW -1418 1638 1338 288
ShowWindow IDM_MONITOR_WINDOW SW_HIDE
MoveWindow IDM_DESC_WINDOW -652 1839 373 289
ShowWindow IDM_DESC_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MINI_WINDOW -292 1082 299 297
ShowWindow IDM_MINI_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MAIN_WINDOW -1921 1132 1630 965
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
MoveWindow IDM_PARAM_WINDOW -289 1567 316 283
ShowWindow IDM_PARAM_WINDOW SW_SHOWNORMAL
MoveWindow IDM_PERF_WINDOW -290 1845 301 281
ShowWindow IDM_PERF_WINDOW SW_SHOWNORMAL
