MoveWindow IDM_CONS_WINDOW 226 226 922 517
ShowWindow IDM_CONS_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MONITOR_WINDOW -771 1697 484 397
ShowWindow IDM_MONITOR_WINDOW SW_SHOWNORMAL
MoveWindow IDM_CRSR_WINDOW -296 1588 301 201
ShowWindow IDM_CRSR_WINDOW SW_SHOWNORMAL
MoveWindow IDM_APPL_WINDOW -1921 1084 1642 1042
ShowWindow IDM_APPL_WINDOW SW_SHOWNORMAL
MoveWindow IDM_DESC_WINDOW -295 1779 301 105
ShowWindow IDM_DESC_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MINI_WINDOW -292 1079 301 246
ShowWindow IDM_MINI_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MAIN_WINDOW -1913 1136 1626 960
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
MoveWindow IDM_PARAM_WINDOW -299 1317 316 283
ShowWindow IDM_PARAM_WINDOW SW_SHOWNORMAL
MoveWindow IDM_PERF_WINDOW -296 1875 301 251
ShowWindow IDM_PERF_WINDOW SW_SHOWNORMAL
