MoveWindow IDM_APPL_WINDOW -5768 1072 1936 1048
ShowWindow IDM_APPL_WINDOW SW_MAXIMIZE
MoveWindow IDM_CRSR_WINDOW -4146 1569 301 226
ShowWindow IDM_CRSR_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MINI_WINDOW -4140 1138 301 301
ShowWindow IDM_MINI_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MAIN_WINDOW -5760 1124 1920 966
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
MoveWindow IDM_DESC_WINDOW -4606 1683 427 409
ShowWindow IDM_DESC_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MONITOR_WINDOW 200 0 136 201
ShowWindow IDM_MONITOR_WINDOW SW_HIDE
MoveWindow IDM_PARAM_WINDOW -4458 1389 316 283
ShowWindow IDM_PARAM_WINDOW SW_SHOWNORMAL
MoveWindow IDM_PERF_WINDOW -4139 1816 301 281
ShowWindow IDM_PERF_WINDOW SW_SHOWNORMAL
MoveWindow IDM_SIG_DESIGNER -5615 1291 997 600
ShowWindow IDM_SIG_DESIGNER SW_SHOWNORMAL
