MoveWindow IDM_APPL_WINDOW -1887 1083 1593 1038
ShowWindow IDM_APPL_WINDOW SW_SHOWNORMAL
MoveWindow IDM_DESC_WINDOW -300 1573 301 260
ShowWindow IDM_DESC_WINDOW SW_SHOWNORMAL
MoveWindow IDM_CRSR_WINDOW -297 1374 301 201
ShowWindow IDM_CRSR_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MINI_WINDOW -300 1075 301 301
ShowWindow IDM_MINI_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MAIN_WINDOW -1879 1135 1577 956
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MONITOR_WINDOW 200 0 136 201
ShowWindow IDM_MONITOR_WINDOW SW_HIDE
MoveWindow IDM_PARAM_WINDOW -316 1824 316 283
ShowWindow IDM_PARAM_WINDOW SW_SHOWNORMAL
MoveWindow IDM_PERF_WINDOW -612 1872 301 281
ShowWindow IDM_PERF_WINDOW SW_SHOWNORMAL
