MoveWindow IDM_CONS_WINDOW 151 151 922 517
ShowWindow IDM_CONS_WINDOW SW_SHOWNORMAL
MoveWindow IDM_APPL_WINDOW 182 182 1646 862
ShowWindow IDM_APPL_WINDOW SW_SHOWNORMAL
MoveWindow IDM_PERF_WINDOW 0 0 301 131
ShowWindow IDM_PERF_WINDOW SW_HIDE
MoveWindow IDM_HIST_INFO 0 300 301 116
ShowWindow IDM_HIST_INFO SW_HIDE
MoveWindow IDM_CRSR_WINDOW 0 300 301 116
ShowWindow IDM_CRSR_WINDOW SW_HIDE
MoveWindow IDM_STAT_WINDOW 200 200 401 701
ShowWindow IDM_STAT_WINDOW SW_HIDE
MoveWindow IDM_DISP_WINDOW 1006 487 181 219
ShowWindow IDM_DISP_WINDOW SW_HIDE
MoveWindow IDM_EDIT_WINDOW 931 354 331 486
ShowWindow IDM_EDIT_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MINI_WINDOW -8 -31 316 239
ShowWindow IDM_MINI_WINDOW SW_HIDE
MoveWindow IDM_MAIN_WINDOW 190 233 1630 751
ShowWindow IDM_MAIN_WINDOW SW_HIDE
