MonitorConfiguration  "WindowConfiguration1.cnf"
1   # monitor number
   0   0   2560 1440    # monitor rectangle
   0   0   2560 1400    # work area rectangle
1    # primary monitor
2   # monitor number
 3840 1073   6400 2153    # monitor rectangle
 3840 1073   6400 2113    # work area rectangle
0    # secondary monitor
0   # end of MonitorConfiguration

MonitorConfiguration  "WindowConfiguration2.cnf"
1   # monitor number
   0   0   2560 1440    # monitor rectangle
   0   0   2560 1400    # work area rectangle
1    # primary monitor
2   # monitor number
 3840 1068   6400 2148    # monitor rectangle
 3840 1068   6400 2108    # work area rectangle
0    # secondary monitor
3   # monitor number
 -1920 1107     0 2187    # monitor rectangle
 -1920 1107     0 2147    # work area rectangle
0    # secondary monitor
0   # end of MonitorConfiguration

MonitorConfiguration  "WindowConfiguration3.cnf"
1   # monitor number
   0   0   2560 1440    # monitor rectangle
   0   0   2560 1400    # work area rectangle
1    # primary monitor
2   # monitor number
 3840 1065   6400 2145    # monitor rectangle
 3840 1065   6400 2105    # work area rectangle
0    # secondary monitor
3   # monitor number
 -1920 1065     0 2145    # monitor rectangle
 -1920 1065     0 2105    # work area rectangle
0    # secondary monitor
0   # end of MonitorConfiguration

MonitorConfiguration  "WindowConfiguration4.cnf"
1   # monitor number
0 0 2560 1440   # monitor rectangle
0 0 2560 1400   # work area rectangle
1    # primary monitor
2   # monitor number
-1920 1065 0 2145   # monitor rectangle
-1920 1065 0 2105   # work area rectangle
0    # secondary monitor
3   # monitor number
3840 1065 6400 2145   # monitor rectangle
3840 1065 6400 2105   # work area rectangle
0    # secondary monitor
0   # end of MonitorConfiguration

MonitorConfiguration  "WindowConfiguration5.cnf"
1   # monitor number
3840 1065 6400 2145   # monitor rectangle
3840 1065 6400 2105   # work area rectangle
0    # secondary monitor
2   # monitor number
-1920 1065 0 2145   # monitor rectangle
-1920 1065 0 2105   # work area rectangle
0    # secondary monitor
3   # monitor number
0 0 2560 1440   # monitor rectangle
0 0 2560 1400   # work area rectangle
1    # primary monitor
0   # end of MonitorConfiguration

MonitorConfiguration  "WindowConfiguration6.cnf"
1   # monitor number
0 0 2560 1440   # monitor rectangle
0 0 2560 1400   # work area rectangle
1    # primary monitor
2   # monitor number
2560 348 5120 1428   # monitor rectangle
2560 348 5120 1388   # work area rectangle
0    # secondary monitor
3   # monitor number
-1920 348 0 1428   # monitor rectangle
-1920 348 0 1388   # work area rectangle
0    # secondary monitor
0   # end of MonitorConfiguration

