MoveWindow IDM_MAIN_WINDOW 3840 1111 2560 975
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
MoveWindow IDM_APPL_WINDOW 3832 1060 2576 1056
ShowWindow IDM_APPL_WINDOW SW_MAXIMIZE
MoveWindow IDM_DISP_WINDOW 5969 1834 211 219
ShowWindow IDM_DISP_WINDOW SW_SHOWNORMAL
MoveWindow IDM_EDIT_WINDOW 6177 1493 211 559
ShowWindow IDM_EDIT_WINDOW SW_HIDE
MoveWindow IDM_CRSR_WINDOW 3888 1393 300 150
ShowWindow IDM_CRSR_WINDOW SW_SHOWNORMAL
MoveWindow IDM_STAT_WINDOW 3836 1582 400 430
ShowWindow IDM_STAT_WINDOW SW_SHOWNORMAL
MoveWindow IDM_PERF_WINDOW 3886 1202 300 130
ShowWindow IDM_PERF_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MINI_WINDOW 5973 1138 416 239
ShowWindow IDM_MINI_WINDOW SW_SHOWNORMAL
