MoveWindow IDM_MAIN_WINDOW 0 43 2560 945
ShowWindow IDM_MAIN_WINDOW SW_SHOW
MoveWindow IDM_APPL_WINDOW -8 -8 2576 1056
ShowWindow IDM_APPL_WINDOW SW_SHOW
MoveWindow IDM_DISP_WINDOW 2328 151 211 219
ShowWindow IDM_DISP_WINDOW SW_SHOW
MoveWindow IDM_EDIT_WINDOW 2315 380 211 559
ShowWindow IDM_EDIT_WINDOW SW_SHOW
MoveWindow IDM_CRSR_WINDOW 0 170 260 150
ShowWindow IDM_CRSR_WINDOW SW_SHOW
MoveWindow IDM_STAT_WINDOW -3 322 400 420
ShowWindow IDM_STAT_WINDOW SW_SHOW
MoveWindow IDM_PERF_WINDOW 0 50 260 120
ShowWindow IDM_PERF_WINDOW SW_SHOW
MoveWindow IDM_STATUS_BAR 0 0 0 0
ShowWindow IDM_STATUS_BAR SW_HIDE

ShowWindow IDM_MINI_WINDOW SW_SHOW
MoveWindow IDM_HIST_WINDOW 0 988 2560 30
ShowWindow IDM_HIST_WINDOW SW_HIDE
