MoveWindow IDM_HIST_WINDOW 3840 2056 2560 30
ShowWindow IDM_HIST_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MAIN_WINDOW 3840 1111 2560 945
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
MoveWindow IDM_APPL_WINDOW 3832 1060 2576 1056
ShowWindow IDM_APPL_WINDOW SW_MAXIMIZE
MoveWindow IDM_DISP_WINDOW 6172 1270 211 219
ShowWindow IDM_DISP_WINDOW SW_SHOWNORMAL
MoveWindow IDM_EDIT_WINDOW 6174 1491 211 559
ShowWindow IDM_EDIT_WINDOW SW_SHOWNORMAL
MoveWindow IDM_CRSR_WINDOW 3860 1382 300 150
ShowWindow IDM_CRSR_WINDOW SW_SHOWNORMAL
MoveWindow IDM_STAT_WINDOW 3848 1566 400 430
ShowWindow IDM_STAT_WINDOW SW_SHOWNORMAL
MoveWindow IDM_PERF_WINDOW 0 0 0 0
ShowWindow IDM_PERF_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MINI_WINDOW 6167 1121 216 139
ShowWindow IDM_MINI_WINDOW SW_SHOWNORMAL
MoveWindow IDM_STATUS_BAR 7680 3197 2560 22
ShowWindow IDM_STATUS_BAR SW_SHOWNORMAL
