MoveWindow IDM_HIST_WINDOW 607 949 1280 30
ShowWindow IDM_HIST_WINDOW SW_SHOW
MoveWindow IDM_MAIN_WINDOW 607 67 1280 882
ShowWindow IDM_MAIN_WINDOW SW_SHOW
MoveWindow IDM_APPL_WINDOW 599 16 1296 993
ShowWindow IDM_APPL_WINDOW SW_SHOW
MoveWindow IDM_DISP_WINDOW 1692 202 211 219
ShowWindow IDM_DISP_WINDOW SW_SHOW
MoveWindow IDM_EDIT_WINDOW 1691 431 211 559
ShowWindow IDM_EDIT_WINDOW SW_SHOW
MoveWindow IDM_CRSR_WINDOW 837 288 300 150
ShowWindow IDM_CRSR_WINDOW SW_HIDE
MoveWindow IDM_STAT_WINDOW 12 404 400 430
ShowWindow IDM_STAT_WINDOW SW_HIDE
MoveWindow IDM_PERF_WINDOW 838 103 300 150
ShowWindow IDM_PERF_WINDOW SW_HIDE
MoveWindow IDM_MINI_WINDOW 0 0 0 0
ShowWindow IDM_MINI_WINDOW SW_HIDE
MoveWindow IDM_STATUS_BAR 607 979 1280 22
ShowWindow IDM_STATUS_BAR SW_SHOW
