MoveWindow IDM_HIST_INFO 4517 1238 301 116
ShowWindow IDM_HIST_INFO SW_SHOWNORMAL
MoveWindow IDM_CONS_WINDOW -1002 1269 785 663
ShowWindow IDM_CONS_WINDOW SW_SHOWNORMAL
MoveWindow IDM_PERF_WINDOW 4532 1100 301 131
ShowWindow IDM_PERF_WINDOW SW_HIDE
MoveWindow IDM_APPL_WINDOW -8 -8 2576 1416
ShowWindow IDM_APPL_WINDOW SW_MAXIMIZE
MoveWindow IDM_DISP_WINDOW 3849 1320 181 219
ShowWindow IDM_DISP_WINDOW SW_SHOWNORMAL
MoveWindow IDM_CRSR_WINDOW 4193 1074 301 116
ShowWindow IDM_CRSR_WINDOW SW_SHOWNORMAL
MoveWindow IDM_STAT_WINDOW 4212 1365 401 701
ShowWindow IDM_STAT_WINDOW SW_SHOWNORMAL
MoveWindow IDM_EDIT_WINDOW 3845 1553 331 453
ShowWindow IDM_EDIT_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MINI_WINDOW 3847 1068 316 239
ShowWindow IDM_MINI_WINDOW SW_SHOWNORMAL
MoveWindow IDM_MAIN_WINDOW 0 43 2560 1305
ShowWindow IDM_MAIN_WINDOW SW_SHOWNORMAL
